* {
    transition: all 0.1s;
}

/* Hero */
.hero.is-mono {
    background-color: #303030;
}

.hero.is-mono *:not(a) {
    color: #ffffff;
}

.hero.is-mono a:hover {
    color: #40a0fd;
}

/* Image Container */
.img-container {
    text-align: center;
    background-size: contain;
}

.img-container>img {
    display: block;
    object-fit: contain;
}

.img-container>img:not([src=""]) {
    width: 100%;
}

.img-container>img:not([src=""]) + p {
    display: none;
}

.img-container>img[src=""] {
    display: none;
}

/* github icon animation */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation:none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

