
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='qrious.min.js') }}"></script>
    <script>
      if (!window.jQuery) {
        var script = document.createElement('script');
        script.src = "/static/jquery.js";
        document.body.appendChild(script);
      }
    </script>
  </head>

  <body>
    <div class="header">
      <img src="{{ url_for('static', filename='img/header.png') }}" alt="header img" />
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
      <img src="{{ url_for('static', filename='img/footer.png') }}" alt="footer img" />
      <p>关注公众号：中欧滑雪联盟（ecsnow）了解更多活动信息</p>
    </div>
  </body>
</html>

